<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  {% block head %}
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{{ title }}</title>
  {% endblock %}
</head>
<body>
  {% block title %}<h1>{{ title }}</h1>{% endblock %}

  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
      <p>&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.</p>
    {% endblock %}
  </div>
</body>
</html>