<!DOCTYPE html>
<html lang="en" {% block html_attributess %}xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"{% endblock %}>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        {% block metadata %}{% endblock %}
        {% block stylesheets %}
            <link href="/stylesheets/style.css" type="text/css">
        {% endblock%}
    </head>
    <body>
        {%block body%}{%endblock%}
    </body>
</html>